#section-article{
    color: white;
    padding-top: 160px;
}

h1{
    text-align: center;
}

#section-article{
    margin-bottom: 50px;
}

.content-servico{
    padding-top: 50px;
}

.img-servico{
    width: 40%;
    margin-left: 80px;
    float: left;
    border-radius: 25px;
    padding-top: 50px;
}

.texto-servico{
    text-align: justify;
    margin-left: 590px
}